<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Sign Up</h2>
      <% if @errors %>
        <p><%= @errors %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <form name="signup" action='/users' method='post'>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" name="user[username]" id="name">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name='user[password]' id="name" ></input>
          </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="row">
          <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-success btn-lg">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
