<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="subtitle">Cart Items</h2>
        <% @products.each_with_index do |product, index| %>
          <p>
            <%= index + 1 %> - <%= product.name %>
            <form name="remove_item" action='/' method='post'>
              <input type="hidden" name="_method" value="delete">
              <button type="submit" class="btn btn-success btn-lg">Remove Item (WIP)</button>
            </form>

          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
