<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><a href="/categories"> Start Shopping! </a></h2>
      </div>
    </div>
  </div>
</section>
